            /* Color Palette: https://coolors.co/310a31-847996-88b7b5-a7cab1-f4ecd6 */
            body {
                background-color: #847996;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                color:#310831;
            }
            form {
                color: #832083;
                border: 10px double #a7cab1;
                background: #f4ecd6;
                padding:65px;
                width: 600px;
                text-align: center;
                margin: 0 auto; 
                    /*Reference: Daneesha. (2021, June 4). HTML How to center a Form. Stack Overflow. https://stackoverflow.com/questions/67832436/html-how-to-center-a-form#:~:text=4%20Answers&text=If%20you%20want%20to%20centre,0%20auto%20with%20a%20width.&text=if%20you%20want%20to%20centre%20inline,text%2Dalign:%20centre%20works. */

            }